@import '../../styles/global.scss';

.notification {
  width: 100%;
  position: fixed;

  top: -$space-l;
  opacity: 0;

  transition: opacity $timing-m;

  h1 {
    width: fit-content;
    margin: auto;
  }
  &.error {
    color: $error-color;
  }
}

.active {
  opacity: 1;
  top: 0;
  transition: opacity $timing-m;
}
