@mixin button_model($main-color, $active-color, $highlight-color, $radius) {
  background-color: $main-color;
  border-radius: $radius;
  transition: $timing-s;

  &:hover {
    transition: $timing-s;
    background-color: $highlight-color;
  }

  &:active {
    transition: $timing-s;
    background-color: $active-color;
  }
}
