@import '../../styles/global';

$horizontalShift: 15%;
$verticalShift: 10%;

$svg-width: 50px;
$scale-svg: 20vw;
$min-size: 3;
$max-size: 6;
$corner-size-min: $min-size * $svg-width;
$corner-size-max: $max-size * $svg-width;
$button-corner-scale: 1.5;

.landing {
  margin: 0;
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;

  background-color: $secondary-dark;
  display: grid;
  * {
    font-size: max(#{$font-size-ssm}, #{$horizontal-size-xs});
  }
}

.background {
  color: $primary-light;
  position: absolute;
  pointer-events: none;

  width: 100vw;
  height: 100vh;

  .tl {
    position: absolute;
    left: 0;
    width: clamp($corner-size-min/3, $scale-svg, $corner-size-max/3);
  }
  .tr {
    position: absolute;
    right: 0;
    width: clamp($corner-size-min, $scale-svg, $corner-size-max);
  }
  .bl {
    position: absolute;
    bottom: 0;
    left: 0;
    width: clamp($corner-size-min, $scale-svg, $corner-size-max);
  }
  .br {
    position: absolute;
    bottom: 0;
    right: 0;
    width: clamp(
      $corner-size-min * $button-corner-scale,
      $scale-svg,
      $corner-size-max * $button-corner-scale
    );
  }
}

.welcome {
  width: 100vw;
  height: 100vh;
  position: relative;

  header {
    color: $primary-light;
    padding: 35vh 10vw;
    h1 {
      font-size: max(#{$font-size-xl}, #{$horizontal-size-xxl});
    }
  }
}

.credentials {
  justify-self: center;
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  * input {
    width: 70%;
    align-self: center;
    color: red;
  }
}

.greetings {
  line-height: 100vh;
  width: 100vw;

  text-align: center;
  color: $primary-light;
  pointer-events: none;
}

footer {
  position: absolute;
  bottom: 0;
  right: 0;

  display: flex;
  align-items: center;

  $footer-scale: 0.15;
  margin-right: -($corner-size-min * $footer-scale);
  margin-bottom: -($corner-size-min * $footer-scale);

  width: clamp(
    $corner-size-min * $button-corner-scale,
    $scale-svg,
    $corner-size-max * $button-corner-scale
  );
  height: clamp(
    $corner-size-min * $button-corner-scale,
    $scale-svg,
    $corner-size-max * $button-corner-scale
  );
}

@media only screen and (min-width: $breakpoint-tablet) {
  * {
    font-size: $horizontal-size-m;
  }
  .input input {
    width: 50%;
  }
}
