@import '../../styles/global';

.landing {
  width: 100%;
  height: 100vh;

  background: linear-gradient(
    207.37deg,
    #1d3561 0.98%,
    #091d42 0.99%,
    rgba(15, 39, 83, 0.93) 32.44%,
    rgba(22, 48, 95, 0.85) 65.45%,
    rgba(29, 53, 97, 0.81) 100%
  );
  color: black;

  display: flex;

  text-align: center;
  justify-content: center;
  align-items: center;
}
