@import '../../styles/global';

.landing {
  margin: 0;
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;

  background-color: #071034;
  display: grid;
  grid-template-rows: 95% 5%;

  a {
    color: $font-color-light;
    padding-left: $space-m;
    text-decoration: none;
  }
}

header {
  color: $font-color-light;
  position: absolute;

  top: 10%;
  left: -10%;

  font-size: calc(100vw / 3);
  font-weight: 100;
  opacity: 0.05;
}

.credentials {
  justify-self: center;
  width: 100%;
  height: 100%;

  * {
    font-size: $font-size-s;
  }

  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  input {
    width: 50%;
    align-self: center;
  }

  :nth-child(3) {
    margin-top: $space-l;
  }
}
