@import '../../styles/global';

@mixin input($bg-color, $ph-color) {
  background-color: $bg-color;

  &::placeholder {
    color: $ph-color;
  }

  :focus {
    color: transparent;
  }

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
}

.input {
  display: flex;
  flex-direction: column;

  label {
    text-align: start;
  }

  span {
    color: $error-color;
    text-align: center;
  }

  &.full {
    width: 100%;
  }

  input {
    text-align: center;
    font-weight: bold;
    padding: $space-s;

    &.primary {
      @include input($primary-color, $placeholder-light);
    }

    &.light {
      @include input($secondary-color, $placeholder-color);
    }

    &.transparent {
      @include input(transparent, $placeholder-light);
      border-top: none;
      border-left: none;
      border-right: none;
      border-color: $primary-color;
    }

    outline: none;
    &:focus::placeholder {
      color: transparent;
    }

    &.small {
      padding: $space-xs;
    }
  }
}
