@import '../../styles/global';

@mixin input($bg-color, $ph-color, $text-color) {
  background-color: $bg-color;
  color: $text-color;

  &::placeholder {
    color: $ph-color;
  }

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
}

.input {
  display: flex;
  flex-direction: column;

  label {
    text-align: start;
  }

  span {
    color: $error-color;
    text-align: center;
  }

  &.full {
    width: 100%;
  }

  input {
    padding: $space-xs;

    &.primary {
      @include input($primary-dark, $placeholder-light, $background-light);
    }

    &.light {
      @include input($secondary-color, $placeholder-dark, $primary-dark);
    }

    &.transparent {
      @include input(transparent, $placeholder-light, $background-light);
      border-top: none;
      border-left: none;
      border-right: none;
      border-color: $background-light;
    }

    outline: none;

    &:focus::placeholder {
      color: transparent;
    }

    &.small {
      padding: $space-xs;
    }
  }
}
