@import '../../styles/global';

.input {
  &__field {
    color: $primary-color;

    border: 0;

    padding: $space-s;

    :focus {
      outline: none !important;
      border: 1px solid $primary-color;
    }

    &::placeholder {
      color: $placeholder-color;
    }
  }

  &__error {
    color: $error-color;
  }
}
