@import '../../styles/global';

@mixin button($main-color, $active-color, $highlight-color, $radius) {
  border-radius: $radius;
  transition: $timing-s;
  background-color: $main-color;

  &:hover {
    transition: $timing-s;
    background-color: $highlight-color;
  }

  &:active {
    transition: $timing-s;
    background-color: $active-color;
  }
}

.button {
  &.primary {
    @include button($primary-color, $active-color, $highlight-color, $radius-s);
  }

  &.white {
    @include button($primary-color, $active-color, $highlight-color, $radius-s);
  }

  &.transparent {
    @include button(transparent, transparent, transparent, $radius-s);
  }

  &.uppercase {
    text-transform: uppercase;
  }

  width: fit-content;
  padding: $space-s;

  border: 0;
}
