@import '../../styles/global';

@mixin button($main-color, $active-color, $highlight-color) {
  transition: $timing-s;
  background-color: $main-color;
  outline: none;
  position: relative;

  &:hover {
    background-color: $highlight-color;
    font-weight: bold;
    transition: font-weight $timing-s;
    text-shadow: 0 0 $space-xs rgba(255, 255, 255, 0.65) !important;
  }

  &:active {
    transition: $timing-s;
    background-color: $active-color;
  }
}

.button {
  &.primary {
    @include button($primary-color, $active-color, $highlight-color);
  }

  &.white {
    @include button($primary-color, $active-color, $highlight-color);
  }

  &.transparent {
    @include button(transparent, transparent, transparent);
  }

  &.uppercase {
    text-transform: uppercase;
  }

  &.full {
    width: 100%;
  }

  &.round {
    border-radius: $radius-m;
  }

  &.light {
    color: $background-light;
  }

  &.faded {
    opacity: 0.25;
  }

  padding: $space-s;

  border: 0;
}
