@import '../../styles/global';

@mixin button(
  $font-color,
  $backgroud-color,
  $active-color,
  $highlight-color,
  $shadow-color
) {
  color: $font-color;

  transition: $timing-l;
  background-color: $backgroud-color;
  outline: none;
  position: relative;
  cursor: pointer;

  &:hover {
    background-color: $highlight-color;
    @include text-shadow($shadow-color, 0.6);
    transition: text-shadow $timing-m;
  }

  &:active {
    background-color: $active-color;
  }
}

.button {
  &.primary {
    @include button(
      $primary-light,
      $primary-dark,
      $active-color,
      $highlight-color,
      $primary-dark
    );
  }

  &.white {
    @include button(
      $primary-light,
      $primary-dark,
      $active-color,
      $highlight-color,
      $primary-dark
    );
  }

  &.transparent {
    @include button(
      $primary-dark,
      transparent,
      transparent,
      transparent,
      $primary-dark
    );
  }

  &.full {
    width: 100%;
  }

  &.round {
    border-radius: $radius-m;
  }

  &.light {
    @include button(
      $primary-light,
      transparent,
      transparent,
      transparent,
      $primary-light
    );
  }

  &.faded {
    opacity: 0.25;
  }

  padding: $space-s;

  border: 0;
}
