$primary-dark: #1d3561;
$secondary-dark: #171b2c;
$secondary-color: #ffffff;

$highlight-color: #3e5c94;
$disabled-color: #999999;
$active-color: #132442;

$placeholder-dark: #1d35613a;
$placeholder-light: #c9c9c940;

$error-color: #da0000;

$background-main: #f0f0f0;
$background-light: #ffffff;
