$font-size-xxs: 0.75em;
$font-size-xs: 0.875em;
$font-size-s: 1em;
$font-size-ssm: 1.125em;
$font-size-sm: 1.25em;
$font-size-m: 1.5em;
$font-size-ml: 2em;
$font-size-l: 3em;
$font-size-xl: 4em;
$font-size-xxl: 6em;

$horizontal-size-xs: 1vw;
$horizontal-size-s: 1.5vw;
$horizontal-size-sm: 1.75vw;
$horizontal-size-m: 2vw;
$horizontal-size-ml: 3vw;
$horizontal-size-l: 4vw;
$horizontal-size-xl: 6vw;
$horizontal-size-xxl: 8vw;
