$primary-color: #1d3561;
$secondary-color: #ffffff;

$highlight-color: #8174cc;
$disabled-color: #999999;
$active-color: #5041ad;

$placeholder-color: #1d35613a;
$placeholder-light: #cacaca3a;

$error-color: #da0000;

$background-main: #f0f0f0;
$background-light: #ffffff;
