$primary-color: #6c5dbd;
$secondary-color: #ffffff;

$highlight-color: #8174cc;
$disabled-color: #999999;
$active-color: #5041ad;

$placeholder-color: #a200ff3d;
$error-color: #da0000;

$background-main: #f0f0f0;
$background-light: #ffffff;
